{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "modules": "commonjs",
          "useBuiltIns": "usage",
          "debug": false
        }]
      ]
    }
  }
}
