{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "loose": true,
        "corejs": "3"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ]
}
